@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');
*{
    box-sizing: border-box; /* */
}

:root { /*Seletor proprio, para as informacoes principais do site */

    font-family: 'Montserrat', sans-serif;   
    font-size: 16px; /* 16px equivale a 1rem */
    --color-copy: #333;
    --color-primary: #ffc500; /*Criado uma variavel para usar a cor */
    --default-padding: 1rem;
    color: var(--color-copy);

}
body{
    margin: 0; /* Deixando a margem em 0 */
    padding-top: 7.75rem ; /*adicionado um padding para empurrar a pagina para o top, assim o conteudo nao fica escondido */
}

header, main, footer{ /*mantendo o conteudo mesmo com tela pequena*/
    overflow-x: hidden;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
ul{
    display: flex; /* colocando a lista um do lado do outro */
    list-style: none;/* tirando estilo da lista */
    padding-right: 0; /* Tirando o espaço padding da esquerda */
}

/*Estilizando navbar, para estilizar classes usa o ' . ' antes   */
.navbar{  
    position:fixed;  /* fixar a caixa da navbar na tela */
    z-index: 1;  
    top: 0; /* fixando no topo da página */
    left: 0;
    width: 100%;
    background-color: #000; /* Mudando a cor da caixa da navbar */
    /* color decimal vermelho / verde / azul / transparencia - 0 - F*/
    color: #fff; /* Mudando a cor das letras */
}
.navbar__container{
    display: grid; /* ##### */
    grid-template-columns: 1fr 9fr; /* colocando duas colunas #####*/
    align-items: center; /*alinhando os itens */

    width: 100%; /*Definindo largura */
    height: 7.75rem;
    padding: 0 1rem; /*Colocando um espaço, 0 foi para altura e o 1 para os lados */
    

}

.navbar__links{
    justify-self: end; /* Alinhando o elemento  */
}

.navbar__links a {
    color: #fff; /*Deixando os links com cor branca */
    text-decoration: none; /*Tirando a barra que fica nos links */
    font-weight: 300; /*Peso da fonte*/
}

.navbar__links a:hover{ /*Mudando a cor da escrita do menu quando passar o mouse */
    color: var(--color-primary) ; /*Escolhendo a cor quando passar o mouse */
}

.navbar__links li { 
    font-size: 0.875rem; /* tamanho da letra, 14 px = 14/16 = 0.875rem */
    margin-right: 3rem; /* colocando uma margem dos li, assim dando espaço ultilaizando 10px logo 48/16 = 3rem*/
    text-transform: uppercase; /*deixando os li em caixa alta*/

}
.logo--studion {
    font-size: 2.375rem; /*tamanho da fonte*/
    font-weight: 900; /*ecolhendo o peso da fonte*/
    text-transform: uppercase; /*deixando os li em caixa alta*/
    text-align: right; /*Alinhando o texto para direita*/
    line-height: 1ch; /* unidade relativa ao tamanho da altura do glifo 0 da fonte*/
}
.logo--studion__subtitle{
    font-size: 14px; /* tamanho da letra, 14 px = 14/16 = 0.875rem */
    font-weight: 300; /*ecolhendo o peso da fonte*/


}
.copy--primary {
    color: var(--color-primary);/* usando a cor criada por variavel, no texto ON da logo */

}

#slider {
    
    background-color: #000;
    color: #fff;
    /* background-image: url(./images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center; */
    
}
.slider {
    position: relative; /*deixa ele no topo do div pai*/
    height: calc(90vh - 7.75rem);
}
.slide__background-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center ;
}
.slider__copy{
    position: absolute; /*deixa ir para todo lado da tela  */
    top: 6.25rem;
    left: 50vw;
}

.slider__copy h6{
    font-size: .9375rem;
    font-weight: 400;  /*deixando a fonte regula*/
    text-transform: uppercase; /*deixando o texto em caixa alta*/
    letter-spacing: .1875rem; /*Afetando o espaçamento do txt*/
}
.slider__copy h2{
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
    
}
.slider__copy h2 span{
    display: block; /*quebra de linha*/
}
.btn {
    padding: 1rem 2.5rem;
    color: var(--color-primary);
    border:.125rem solid #fff ; /*Borda do botao */
    border-radius: 5rem ; /*arredondando as bodas */
    background: unset; /*tira as propriedades */
    font-size: .9375rem ;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s all ease; /*efeito de transicao para efeitos*/
}

.btn:hover, .btn:active, .btn:focus,.btn--institutional{ /*efeito para passar o mouse e mudar o btn*/
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;

}
#counter{
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
}
.counter__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /*criando colunas por igual 1fr 1fr 1fr, responsivo*/
    place-items: center; /*centralizando*/
    
    padding: 4.375rem 1rem;

}
.counter__container h3{
    font-size: 2.185rem;
}

.counter__container h3 small{
    display: block;
    font-size:1.25rem;
}
.institutional{
    display: grid;
    grid-template-columns:  2fr 1fr;
    gap: 3.125rem;
    align-items: center;
    padding: 4.375rem;

}

.institutional__img{
    max-width: 550px;
}
.institutional__copy{
    padding: auto auto ;
}
.institutional__copy h6{
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin: 0;
}
.institutional__copy h4{
    font-size: 1.5625rem;
    margin-top: 1rem ;
}
.institutional p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.0625rem;
    line-height: 1.6875rem;
    margin: 0;
    margin-bottom: 2.5rem;
}
.btn--institutional:hover{
    color: var(--color-copy);
    background: unset;
    box-shadow: 0 1rem 1rem #0006;
}
